@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/* třídy */

.blink {
  animation: blink 1s infinite; /* Adjust the duration as needed */
}

/* pozice textu */

.střed{
  text-align:center;
}

.left{
  text-align:left;
}

.right{
  text-align:right;
}

.oblé{
  border-radius:10%;
}

/* fonty */

.Arial {
    font-family: Arial, sans-serif;
}

.Verdana {
    font-family: Verdana, sans-serif;
}

.Helvetica {
    font-family: Helvetica, sans-serif;
}

.Tahoma {
    font-family: Tahoma, sans-serif;
}

.Trebuchet_MS {
    font-family: "Trebuchet MS", sans-serif;
}

.Arial_Serif {
    font-family: Arial, sans-serif;
}

.Verdana_Serif {
    font-family: Verdana, sans-serif;
}

.Tahoma_Serif {
    font-family: Tahoma, sans-serif;
}

.Courier_New {
    font-family: "Courier New", sans-serif;
}

.Lucida_Console {
    font-family: "Lucida Console", sans-serif;
}

